<div class="container p-5">
  <!-- Profile Picture Header -->
  <div class="container text-center">
    <a href="" id="dp-img-link" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img src="{{ data.avatar }}" class="rounded-circle" id="editableDP" alt="Profile Picture" style="width: 140px; height: 140px; object-fit: cover;">
      <p class="pt-2">Change picture</p>
    </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change picture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="imgForm" onsubmit="updateImg(event)">
          <div class="modal-body">
            <p class="lead">Enter image url or filename</p>
            <input type="text" name="imgUrl" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Save changes" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Basic Info -->
  <div class="container mb-4">
    <h3>Basic info</h3>

    <!-- Name -->
    <div class="mt-3">
      <p class="lead">
        Full name
      </p>
      <form name="nameForm" onsubmit="updateName(event)" class="">
        <div class="d-flex">
          <input type="text" name="fName" placeholder="{{ data.fName }}" class="form-control mb-3 me-1">
          <input type="text" name="lName" placeholder="{{ data.lName }}" class="form-control mb-3 ms-1">
        </div>
        <div>
          <input type="submit" value="Save changes" class="btn btn-primary">
        </div>
      </form>
    </div>

    <div class="mt-3">
      <p class="lead">Email</p>
      <form name="emailForm" onsubmit="updateEmail(event)" class="">
        <input type="email" name="email" placeholder="{{ data.email }}" class="form-control mb-3">
        <input type="submit" value="Save changes" class="btn btn-primary">
      </form>
    </div>

    <!-- Bio -->
    <div class="mt-3">
      <p class="lead">Bio</p>
      <form name="bioForm" onsubmit="updateBio(event)" class="">
        <textarea name="bio" rows="8" class="form-control mb-3">{{ data.bio }}</textarea>
        <input type="submit" value="Save changes" class="btn btn-primary">
      </form>
    </div>
  </div>

  <!-- Account Details -->
  <div class="container mb-4">
    <h3>Account details</h3>
    
    <!-- Username -->
    <div class="mt-3">
      <p class="lead">Username</p>
      <form name="usernameForm" onsubmit="updateUsername(event)" class="">
        <input type="text" name="username" class="form-control mb-3" placeholder="{{ username }}">
        <input type="submit" value="Save changes" class="btn btn-primary">
      </form>
    </div>

    <!-- Password -->
    <div class="mt-3">
      <p class="lead">Password</p>
      <form name="passwordForm" action="/dashboard/editaccount" method="POST" class="">
        <label for="oldPwd" class="form-label">Enter old password</label>
        <input type="password" name="oldPwd" id="oldPwd" class="form-control mb-3">
        <label for="newPwd" class="form-label">Enter new password</label>
        <input type="password" name="newPwd" id="newPwd" class="form-control mb-3">
        <input type="submit" value="Save changes" class="btn btn-primary">
      </form>
    </div>
  </div>

</div>