<div class="container-fluid p-md-0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date posted</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
      <tr id="{{ this.slug }}">
        <th scope="row">{{ this.title }}</td>
        <td>{{ this.date }}</td>
        <td>
          <div class="btn-group">
            <a href="/post/{{ this.slug }}" class="btn btn-outline-primary">View post</a>
            <a href="/dashboard/editpost/{{ this.slug }}" class="btn btn-outline-primary">Edit post</a>
            <button class="btn btn-danger" data-slug="{{ this.slug }}"  onclick="deletePost(event)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>