<!-- Page Header -->
<header class="masthead mb-0" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{data.headerimg}}') !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{data.title}}</h1>
          <span class="meta">Posted by
            <a href="/user/{{data.author}}">{{data.author}}</a>
            on {{data.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="lead">
          {{data.content}}
        </p>
        <div id="comments-section"> 
          <hr>

          <div id="comments-container"> 
          {{#each comments}}
          <div id="{{ this._id }}">
            <div class="d-flex justify-content-between">
              <a href="/user/{{this.username}}" class="d-flex">
                <img src="{{this.avatar}}" alt="{{this.username}}" class="avatar me-2">
                <div>
                  <h4>{{this.username}}</h4>
                  <h4 class="fw-lighter">{{this.date}}</h4>
                </div>
              </a>

              {{#if this.isOwn}}
              <div class="dropdown">
                <button class="btn btn-light border p-3 d-flex align-items-center justify-content-center" style="height: 10px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <button class="dropdown-item" data-commentid="{{ this._id }}" onclick="editComment(event)">Edit</button>
                  </li>
                  <li>
                    <button class="dropdown-item" data-commentid="{{ this._id }}" onclick="deleteComment(event)">Delete</button>
                  </li>
                </ul>
              </div>
              {{/if}}
            </div>
            <p class="m-0 lead">{{this.content}}</p>
            <hr>
          </div>
          {{/each}}
          </div>  

          {{#if loggedIn}}
          <form id="postComment" action="">
            <textarea id="comment" name="comment" rows="5" columns="60" class="form-control mb-3"></textarea>
            <input type="submit" value="Post comment" class="btn btn-primary float-end">
          </form>
          {{/if}}

          {{#unless loggedIn}}
          <h4 class="text-center">You must login before posting a comment.</h4>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</article>